body {
  background-color: #ffda77;
  overflow-x: hidden;
}

nav {
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 100;
}

.label-tag {
  margin-bottom: 0;
  background: #ffda77;
  color: #fbf6f0;
  font-size: 24px;
  font-family: Gotham,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: .5rem 1rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

footer a {
  text-decoration: none;
}

footer .tittle {
  font-weight: bold;
}

.carousel-control-prev,
.carousel-control-next {
  bottom: 0;
}

.carousel-item {
  background-color: brown;
}

@media (max-width: 760px) {
  .first button {
    font-size: 12px !important;
  }
  .first .header-txt {
    font-size: 32px !important;
  }
  .big-phone {
    display: none !important;
  }
  .small-phone {
    display: block !important;
  }
}

.to-center {
  position: relative;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  top: -50%;
}

.bfscroll {
  background-color: none;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.afscroll {
  background-color: #fff;
}

.first {
  background-color: #ffda77;
  height: 70vh;
}

.first button {
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  font-size: 20px;
  border-radius: 30px !important;
  width: 200px;
  background-color: #ffa45b;
  color: #fbf6f0;
}

.first button:checked {
  border: 0;
}

.first button:hover {
  -webkit-box-shadow: 0 0 0px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 0px rgba(33, 33, 33, 0.2);
  color: #fbf6f0;
}

.first .header-txt {
  font-weight: bold;
  font-size: 72px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: .05em;
}

.second {
  height: 100vh;
  background-color: #fff;
}

.second .col-6 img {
  margin-left: 15rem;
}

.navbar-brand {
  font-size: 28px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card-product .card-body {
  text-align: center;
}

.card-product .card-body a {
  color: black;
  text-decoration: none;
}

.product .card {
  border-radius: 30px !important;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.product button {
  border-radius: 50px;
  width: 70px;
}

.product .card:hover {
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

/* CSS talk bubble */
.talk-bubble {
  margin: 40px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: auto;
  background-color: #aee6e6;
}

.border {
  border: 8px solid #666;
}

.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}

.tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #aee6e6 transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}

.tri-right.left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: #aee6e6 #aee6e6 transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #666;
}

.tri-right.btm-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent #aee6e6;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}

.tri-right.btm-left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: #aee6e6 transparent transparent #aee6e6;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}

.tri-right.btm-right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: #aee6e6 #aee6e6 transparent transparent;
}

/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}

.tri-right.btm-right:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: #aee6e6 #aee6e6 transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}

.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: #aee6e6 transparent transparent #aee6e6;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}

.tri-right.right-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: #aee6e6 transparent transparent transparent;
}

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.second-opt {
  background-color: #fbf6f0;
}

.chat {
  padding: 28px;
}

.max-box img {
  height: 70px;
  width: 70px;
}

.max-box .bubble {
  margin: 20px;
  margin-left: 30px;
  padding: 10px;
}

.max-box .talktext {
  padding: 4px !important;
}

#preload {
  background: #000 url(../assets/img/preload.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
/*# sourceMappingURL=style.css.map */